h1 {
    font-family: 'Roboto Slab', serif;
}

.background {
    background: rgba(0, 0, 0, 0) url("../img/header.webp");
    height: 40rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;

}

.foto {
    height: 20rem;
    width: auto;
}

.liste {
    height: 4rem;
    width: auto;
}

.tableau {
    background-color: #00D0F8;
}
footer {
    height: 20vh ;
    background-color: #00D0F8;
}